@font-face {
  font-family: "lowerresolution";
  src: url("../fonts/LowerResolution.ttf") format("truetype");
}

#restart-btn {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);

  width: 340px;
  cursor: pointer;

  display: none;
  opacity: 0;

  z-index: 1000;

  transition:
    transform 0.2s ease,
    filter 0.3s ease;

  /* fade in animation */
  animation: fadeEyes 1s ease forwards;
}

#restart-btn.show {
  display: block;
  opacity: 1;
}

#restart-btn:hover {
  transform: translateX(-50%) scale(1.1);
  filter: drop-shadow(0 0 14px rgba(246, 0, 0, 0.956));
}

/* fade animation */
@keyframes fadeEyes {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

body {
  overflow: hidden;
  text-transform: uppercase;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "lowerresolution", Arial, sans-serif;
}

/* title screen layout */
#start-screen {
  padding-top: 60px;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#start-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

/* GAME TITLE */
#game-title {
  letter-spacing: 10px;
  font-size: 94px;
  margin: 0;
  margin-bottom: 15px;

  text-shadow:
    0 0 4px white,
    0 0 8px rgba(255, 255, 255, 0.6);
}

/* SUBTITLE */
#subtitle {
  font-size: 36px;
  letter-spacing: 3px;

  margin: 0;
  margin-bottom: 18px;

  text-shadow:
    0 0 4px white,
    0 0 10px rgba(255, 255, 255, 0.45);

  opacity: 0.95;
}

/* PLAYER INSTRUCTIONS */
#instructions {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
  line-height: 1.6;

  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* credits */
#credits {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* moon start button */
#start-btn {
  width: 280px;
  margin-top: 30px;
  cursor: pointer;
  position: relative;

  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

#start-btn:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

/* game area */
#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

#message {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 48px;
  letter-spacing: 3px;
  font-weight: 300;

  text-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 15px white,
    0 0 30px rgba(255, 255, 255, 0.395);

  animation: float 3.5s infinite alternate ease-in-out;

  opacity: 0;
  transition: opacity 2s ease;
}

#timer {
  position: absolute;
  top: 30px;
  right: 40px;
  text-shadow: 0 0 8px white;
  font-size: 38px;
}

#game-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0.25;
  z-index: -1;
}

/* =========================
   ANGEL PLAYERS
   ========================= */

#avatar-player,
#avatar-hidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 10;
}

/* glowing aura */
#avatar-player::after,
#avatar-hidden::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.206) 40%,
    rgba(255, 255, 255, 0.05) 60%,
    transparent 80%
  );

  z-index: -1;
  pointer-events: none;
}

/* Player 1 */
#avatar-player {
  background-image: url("../images/Player1.gif");
}

/* Player 2 */
#avatar-hidden {
  background-image: url("../images/Player2.gif");
  opacity: 0.85;
  filter: drop-shadow(0 0 16px rgba(2, 235, 235, 0.638));
}

#avatar-player.met,
#avatar-hidden.met {
  opacity: 1;
  filter: drop-shadow(0 0 22px rgba(255, 255, 255, 0.35));
}

#avatar-player.lost,
#avatar-hidden.lost {
  opacity: 0.8;
}

/* pulse effect */
#pulse {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;

  pointer-events: none;
  opacity: 0;
  background: radial-gradient(
    circle,
    rgba(2, 235, 235, 0.8) 0%,
    rgba(2, 235, 235, 0.35) 35%,
    rgba(2, 235, 235, 0.15) 55%,
    transparent 75%
  );

  transform: translate(-50%, -50%) scale(0.3);
}

#pulse.show {
  animation: pulseReveal 1.2s ease-out forwards;
}

/* pulse animation for cool effect */
@keyframes pulseReveal {
  0% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(0.2);
  }

  70% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
