/* reset page */
body {
  overflow: hidden;
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;

  background-image: url("../images/Background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* title screen layout */
#start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* glowing title */
#game-title {
  font-size: 94px;
  padding-bottom: 100px;
  text-shadow:
    0 0 10px white,
    0 0 20px white;
}

/* glowing instructions */
#instructions {
  text-shadow: 0 0 6px white;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* glowing credits */
#credits {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  opacity: 0.8;
}

#start-btn {
  margin-top: 10px;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

/* Message in the top center */
#message {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 10px white;
  font-size: 22px;
}

#timer {
  position: absolute;
  top: 30px;
  right: 40px;
  text-shadow: 0 0 8px white;
  font-size: 18px;
}

#bg-video {
  position: absolute;
}

/*  seperate later */
#avatar-player,
#avatar-hidden {
  width: 40px;
  height: 40px;
  position: absolute;
}

#avatar-player {
  background: cyan;
}

#avatar-hidden {
  background: white;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#restart-button {
  display: none;
}