/* reset page */
body {
  overflow: hidden;
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;

  background-image: url("../images/Background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* title screen layout */
#start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* glowing title */
#game-title {
  font-size: 94px;
  padding-bottom: 100px;
  text-shadow:
    0 0 10px white,
    0 0 20px white;
}

/* glowing instructions */
#instructions {
  text-shadow: 0 0 6px white;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* glowing credits */
#credits {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  opacity: 0.8;
}

#start-btn {
  margin-top: 10px;
}

#game-container {
  position: relative;
  display: none;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  display: none;
}

/*  seperate later */
#avatar-player,
#avatar-hidden,
#bg-video {
  position: absolute;
}
